@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 30rem;
  height: 100vh;
  margin: 0 auto;
  background-image: url(./img/ambition.jpg);
  background-size: cover;

}

.quote__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
  font-style: italic;
}

.quote__text {
  color: #fff;
}

.quote__author {
  text-align: center;
}